.game-cell, .option-cell {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 3px;
    vertical-align: middle;
}


.image {
    width: 100%;
    height: 100%;
}
