{% extends 'layout.html' %}

{% block head %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
{% endblock %}

{% block content %}

    <h1 id="header">Welcome to Puzzle!</h1><br>

    <div id="game-board">
        {% for row in range(row_num) %}
            <div>
                {% for col in range(col_num) %}
                    <div class="game-cell">
                        <div class="image-cell"></div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <br><br>
    <div id="bar" class="card" data-length="{{ row_num * col_num }}">
    <br><br>
        {% for item in image_list %}
            <div class="option-cell">
                <div class="image-cell">
                    <img class="image" src="/{{ item }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

