<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P U Z Z L E</title>
</head>
<body>
    
    <h1>Welcome to Puzzle!</h1>
    <h1>Let's start the game</h1>
    
    <h2>Choose a picture!</h2>
    
    <a href="/game?name=van">
    <img name="van" src="/static/images/van/van.JPG" height="250" width="250" border="3px"></a>

    <a href="/game?name=motor">
    <img name="motor" src="/static/images/motor/motor.JPG" height="250" width="250" border="3px"></a>



</body>
</html>
